<div class="user-details">
  <img src="assets/imgs/dee.jpg"/>
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Research</h2>   
    <p>
      My Master's dissertation research focused on consumer conceptions of authenticity in entertainment, tourism, and educational environments. 
      This work, alongside my ethnographic study of workplace culture on river barges has equipped me with a holistic methodological approach
      to business-centered research objectives.
    </p>
  </div>
  <div class="tech">
    <h2>Skills</h2>
    <p>
      I am experienced in research design, data analysis, grant applications, and academic/educational writing. During my time conducting field studies 
      I have also learned about and applied various interviewing and data collection techniques.
    </p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <p>
      I have experience with many data analysis and transformation tools including SPSS, Python, UCINet, Excel. My experiences using
      cutting-edge tools have taught me to work with data efficiently and effectively.
    </p>
  </div>
</div>
